---
layout: layouts/layout.njk
---

<div class="">
    <div class="relative isolate overflow-hidden bg-white dark:bg-gray-800 px-6 py-10 sm:py-10 lg:overflow-visible lg:px-0">
        <div class="absolute inset-0 -z-10 overflow-hidden">
            <svg
                class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200
                    [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
                aria-hidden="true">
                <defs>
                    <pattern
                        id="e813992c-7d03-4cc4-a2bd-151760b470a0"
                        width="200"
                        height="200"
                        x="50%"
                        y="-1"
                        patternUnits="userSpaceOnUse">
                        <path d="M100 200V.5M.5 .5H200" fill="none"/>
                    </pattern>
                </defs>
                <svg x="50%" y="-1" class="overflow-visible fill-gray-50 dark:fill-gray-700">
                    <path
                        d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
                        stroke-width="0"/>
                </svg>
                <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)"/>
            </svg>
        </div>
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start
                lg:gap-y-10">
            <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8
                    lg:px-8">
                <div class="lg:pr-4">
                    <div class="lg:max-w-lg">
                        <p class="text-base font-semibold leading-7 text-indigo-600  dark:text-gray-300">{{ role }}</p>
                        <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl dark:text-white">{{ name }}</h1>
                        <div class="mt-6 text-xl text-left leading-8 prose dark:prose-invert">
                            {{ content | safe }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:-ml-12 md:-mt-12 md:p-12 sm:relative lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1
                    lg:overflow-hidden flex flex-col justify-center items-center text-center break-words">
                <img class="w-[200px] h-[200px] object-cover flex-none rounded-full bg-gray-50" src="{{ image }}" alt=""/>
                <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-4xl">{{ name }}</h2>
                <h3 class="text-xl font-semibold leading-7 text-indigo-600 dark:text-gray-300">{{ role }}</h3>
                <ul class="network-icon flex gap-2 justify-center mt-2" aria-hidden="true">
                    {% for social in socials %}
                        {% include "partials/icon-grid.njk" %}
                    {% endfor %}
                </ul>
            </div>
            <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8
                    lg:px-8">
                <div class="lg:pr-4">
                    <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
                        <div class="grid grid-cols-1 gap-4">
                            <div class="text-left">
                                <h2 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Sở thích</h2>
                                <ul class="list-inside	 list-disc text-left mt-4 dark:text-gray-300 ">
                                    {% for interest in interests %}
                                        <li class="text-lg">
                                            {{ interest }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="text-left">
                                <h2 class=" text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Học vấn</h2>
                                <ol role="list" class="list-inside	list-decimal space-y-2 text-gray-600 mt-4">
                                    {% for courseItem in education.courses %}
                                        <li class="flex gap-x-3 ">
                                            <svg
                                                id="Layer_1"
                                                height="24"
                                                width="24"
                                                viewBox="0 0 24 24"
                                                class="dark:fill-white"
                                                xmlns="http://www.w3.org/2000/svg"
                                                data-name="Layer 1"><path d="m24 8.48v11.52a1 1 0 0 1 -2 0v-8.248l-7.4 3.536a5 5 0 0 1 -2.577.694 5.272 5.272 0 0 1 -2.7-.739l-7.38-3.513a3.691
                                                3.691 0 0 1 -.084-6.455c.027-.016.056-.031.084-.045l7.457-3.558a5.226 5.226 0 0 1 5.282.045l7.375 3.513a3.767 3.767 0 0 1
                                                1.943 3.25zm-11.978 9.5a7.26 7.26 0 0 1 -3.645-.972l-4.377-2.089v2.7a5.007 5.007 0 0 0 3.519 4.778 15.557 15.557 0 0 0
                                                4.481.603 15.557 15.557 0 0 0 4.481-.607 5.007 5.007 0 0 0 3.519-4.778v-2.691l-4.459 2.13a6.983 6.983 0 0 1 -3.519.928z"/>
                                            </svg>
                                            <h3>
                                                <strong class="font-semibold text-gray-900 dark:text-gray-300 text-lg">{{ courseItem.course }},
                                                    {{ courseItem.year }},</strong>
                                                <p>
                                                    <span class=" text-gray-500 dark:text-gray-200">{{ courseItem.institution }}</span>
                                                </p>
                                            </h3>
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                        <div class="grid grid-cols-6 gap-4"></div>
                        <h2 class="mt-16 text-2xl text-left font-bold tracking-tight text-gray-900 dark:text-white">Bài viết gần đây</h2>
                        <ul class="list-inside	 list-disc text-left mt-4">
                            {% for interest in interests %}
                                <li class="text-lg">
                                    <a href="{{ interest }}" class="text-blue-600 hover:underline dark:text-gray-300">{{ interest }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>