---
layout: layouts/layout.njk
title: Page Members
---

<div class=" divide-gray-100 grid grid-cols-1  sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-2 ">
    {% for member in collections.members %}
        <div class="py-5">
            <div class="flex flex-col justify-center items-center min-w-0 gap-4">
                <a
                    href="/members/{{ member.data.name | slugify }}"
                    class="transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 duration-300 prose dark:prose-invert">
                    <img class="h-[200px] w-[200px] object-cover flex-none rounded-full bg-gray-50 " src="{{ member.data.image }}" alt=""/>
                </a>
                <div class="min-w-0 flex-auto">
                    <a
                        href="/members/{{ member.data.name | slugify }}"
                        class="text-xl font-semibold leading-6 ease-in-out delay-300 hover:-translate-y-1 hover:scale-110 duration-300 prose
                            dark:prose-invert">{{ member.data.name }}</a>
                    <p class=" truncate text-xs leading-5 text-gray-500">{{ member.data.email }}</p>
                </div>
            </div>
            {# <div class="hidden shrink-0 sm:flex sm:flex-col">
                                                                                                                                                                                                                                                                                                                <p class="text-sm leading-6 text-gray-900 mb-2">{{ member.data.role }}</p>
                                                                                                                                                                                                                                                                                                                {% include "partials/icons.njk" %}
                                                                                                                                                                                                                                                                                                            </div> #}
            <ul class="network-icon flex gap-2 justify-center mt-2" aria-hidden="true">
                {% for social in member.data.socials %}
                    {% include "partials/icon-grid.njk" %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>