<ul class="network-icon flex gap-2 justify-center" aria-hidden="true">
    <li>
        <a href="mailto:test@example.org">
            <div class="w-4">
                {% fortawesomeBrand 'twitter' %}
            </div>
        </a>
    </li>
    <li>
        <a href="https://scholar.google.co.uk/citations?user=sIwtMXoAAAAJ" target="_blank" rel="noopener">
            <div class="w-4">
                {% fortawesomeBrand 'google' %}
            </div>
        </a>
    </li>
    <li>
        <a href="https://github.com/gcushen" target="_blank" rel="noopener">
            <div class="w-4">
                {% fortawesomeBrand 'github' %}
            </div>
        </a>
    </li>
</ul>